extends layout

block content
  div Set the speed
  div
    input(type="range", id="speed", min="0", max="255",value="0")
  div Set the direction (left-straight-right)
  div
    input(type="range", id="direction",min="0",max="2",value="1")
  div Set the direction (forward-backward)
  div
    input(type="range", id="reverse",min="0",max="1",value="0")