extends layout

block content
  div Set the speed
  div
    input(type="range", id="speed", min="0", max="255",width="200px")
  div Set the direction (left-right)
  div
    input(type="button", id="left", value="Left")
    input(type="button", id="straight", value="Straight")
    input(type="button", id="right", value="Right")
  div Set the direction (forward-backward)
  div
    input(type="button", id="forward", value="Forward")
    input(type="button", id="backward", value="Backward")